{% extends 'base.html.twig' %}

{% block title %}Competance index{% endblock %}

{% block body %}
    <h1>Competance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_competance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competance in competances %}
            <tr>
                <td>{{ competance.id }}</td>
                <td>{{ competance.nomCompetance }}</td>
                <td>
                    <a href="{{ path('app_competance_show', {'id': competance.id}) }}">show</a>
                    <a href="{{ path('app_competance_edit', {'id': competance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competance_new') }}">Create new</a>
{% endblock %}
