{{include('static/navbar.html.twig')}}
{{include('static/slidebar.html.twig')}}



{% block body %}
    <h1>Projet</h1>

    {{form_start(form)}}
     <div class="pcoded-content">
             
    <div class="container mt-4">
        <div class="form-group">
                {{ form_label(form.titre, 'Titre') }}
                {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': "titre projet"}}) }}
                {{ form_errors(form.titre) }}
        </div>
        <div class="form-group">
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': "Description projet"}}) }}
                {{ form_errors(form.description) }}
        </div><br>
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>
    </div>
        
    {{form_end(form)}}
{{include('content/data.html.twig')}}
{% endblock %}
