{{include('static/navbar.html.twig')}}
{{include('static/slidebar.html.twig')}}
<style>
    .service-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.service-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-img {
    position: relative;
    overflow: hidden;
}

.service-img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.service-content-inner {
    flex-grow: 1;
}

.container {
    margin-top: auto; /* Ensure the progress bar stays at the bottom if needed */
}


</style>



        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center bg-primary">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="btn bg-light border nput-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       


        <!-- Service Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Mes projets</h4>
                </div>
                <div class="row g-4 justify-content-center">
                    {%if projets%}
                    {%for projet in projets%}
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    
                        <div class="card">
                            {# <img src="img/blog-1.png" class="card-img-top img-fluid rounded-top" alt="Image du projet"> #}
                            <div class="card-body">
                                <h4 class="card-title">{{ projet.nom }}</h4>
                                <p class="card-text">{{ projet.description }}</p>
                            <button class="btn btn-primary">Voir plus</button>
                            </div>
                        </div>
                        
                </div>
                
                    {%endfor%}
                    {%endif%}
                    
                    
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        {{include('content/data.html.twig')}}
    
    