{% extends 'base.html.twig' %}

{% block title %}Sprint index{% endblock %}

{% block body %}
    <h1>Sprint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>IsCompleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.id }}</td>
                <td>{{ sprint.titre }}</td>
                <td>{{ sprint.description }}</td>
                <td>{{ sprint.isCompleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_sprint_show', {'id': sprint.id}) }}">show</a>
                    <a href="{{ path('app_sprint_edit', {'id': sprint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sprint_new') }}">Create new</a>
{% endblock %}
