{{include('content/navbar.html.twig')}}
{{include('content/slidebar.html.twig')}}

{% block body %}
<div class="pcoded-content">
             
    <div class="container mt-4">
    <h1> Fonction(s) </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>{{ fonction.id }}</td>
                <td>{{fonction.name}}
                <td>
                    <a href="{{ path('app_fonction_edit', {'id': fonction.id}) }}"class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
           
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fonction_new') }}">Create new</a>
{% endblock %}
{{include('content/data.html.twig')}}