{{include('content/navbar.html.twig')}}
{{include('content/slidebar.html.twig')}}

{% block title %}Projets{% endblock %}

{% block body %}
<div class="pcoded-content">
             
    <div class="container mt-4">
    <h1>Ressource</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_ressource</th>
                <th>Qty_ressource</th>
                <th>Cout_ressource</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.id }}</td>
                <td>{{ ressource.nomRessource }}</td>
                <td>{{ ressource.qtyRessource }}</td>
                <td>{{ ressource.coutRessource }}</td>
                    <td>
                    <a href="{{ path('app_ressource_show', {'id': ressource.id}) }}"class="btn btn-primary btn-sm" title="View"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}"class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('app_ressource_delete', {'id': ressource.id}) }}"class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ressource_new') }}">Create new</a>
{% endblock %}
{{include('content/data.html.twig')}}