{{include('content/navbar.html.twig')}}
{{include('content/slidebar.html.twig')}}
{% block title %}New Ressource{% endblock %}

{% block body %}
<div class="pcoded-content">
             
    <div class="container mt-4">
    <h1>Ressource</h1>
    {{form_start(form)}}

        <div class="form-group">
            {{ form_label(form.nom_ressource, 'Ressource') }}
            {{ form_widget(form.nom_ressource, {'attr': {'class': 'form-control', 'placeholder': "Nom ressource"}}) }}
            {{ form_errors(form.nom_ressource) }}
        </div>
         <div class="form-group">
            {{ form_label(form.qty_ressource, 'Quantité  Ressource') }}
            {{ form_widget(form.qty_ressource, {'attr': {'class': 'form-control', 'placeholder': "Quantité ressource"}}) }}
            {{ form_errors(form.qty_ressource) }}
        </div>
         <div class="form-group">
            {{ form_label(form.cout_ressource, 'Cout unitaire') }}
            {{ form_widget(form.cout_ressource, {'attr': {'class': 'form-control', 'placeholder':" Cout unitaire"}}) }}
            {{ form_errors(form.cout_ressource) }}
        </div>
        
       
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{form_end(form)}}
    
    {{include('content/data.html.twig')}}
{% endblock %}
