{{include('content/navbar.html.twig')}}
{{include('content/slidebar.html.twig')}}

{% block body %}
<div class="pcoded-content">
<div class="container mt-4">
    <h2> Client</h2>
    {{ form_start(form) }}
    
    <div class="form-group">
        {{ form_label(form.nom_client, 'Nom du client') }}
        {{ form_widget(form.nom_client, {'attr': {'class': 'form-control', 'placeholder': "Entrez le nom du client"}}) }}
        {{ form_errors(form.nom_client) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.prenom_client, 'Prenom  du client') }}
        {{ form_widget(form.prenom_client, {'attr': {'class': 'form-control', 'placeholder': "Entrez l'email du client"}}) }}
        {{ form_errors(form.prenom_client) }}
    </div>
    <div class="form-group">
        {{ form_label(form.adresse, 'Adresse  du client') }}
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder': "Entrez l'adresse du client"}}) }}
        {{ form_errors(form.adresse) }}
    </div>
     <div class="form-group">
        {{ form_label(form.telephone, 'Telephone du client') }}
        {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': "Entrez le telephone  du client"}}) }}
        {{ form_errors(form.telephone) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': "Email@domaine.org"}}) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword, 'Mot de passe') }}
        {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': "Mot de passe"}}) }}
        {{ form_errors(form.plainPassword) }}
    </div>
    
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
    
    </div>
    </div>
    {{include('content/data.html.twig')}}
{% endblock %}
