{% set total = 0%}
{% set facture_num = facture.id%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factures</title>
    <link rel="stylesheet" href="{{asset('styles.css')}}">
</head>
<body>
    <div class="invoice-box">
        <table>
            <tr class="top">
                <td colspan="4">
                    <table>
                        <tr>
                            <td class="title">
                                <p>PMANALYSIS</p>
                            </td>
                            <td>
                                FACTURE#:{% if facture_num/100==1%}
                                {{facture_num}}
                                {%else%}00{{facture_num}}{%endif%} <br>
                                Date d'impression:{{ facture.date ? facture.date|date('Y-m-d H:i:s') : '' }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="4">
                    <table>
                        <tr>
                            <td>
                               {{projet.client.nomClient}}<br>
                                Company Name<br>
                                {{projet.client.telephone}}<br>
                                {{projet.client.email}}<br>
                                {{projet.client.adresse}}<br>
                               <strong> Nom Projet:{{projet.nom|upper}}</strong>
                            </td>
                           
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>Tache</td>
                <td>Price</td>
                <td>Nombre heures</td>
                <td>Ressources</td>
                <td>Total</td>
            </tr>
            {% for tache in taches %}
            <tr class="item">
                <td>{{tache.nomTache}}</td>
                <td>${{tache.coutHoraire}}</td>
                <td>{{tache.nombreHeure}}</td>
                <td>{{tache.ressource.coutRessource}}</td>
                <td>${{tache.coutHoraire*tache.nombreHeure+(tache.ressource.coutRessource)}}</td>
                {% set total = total +(tache.coutHoraire*tache.nombreHeure)+(tache.ressource.coutRessource|default(0)) %}
            </tr>
            {%endfor%}
            <tr class="total">
                <td></td>
                <td colspan="4">Sub-Total: ${{total}}</td>
            </tr>
            <tr class="total">
                <td></td>
                <td colspan="4">Tax Vat (0%): $ 0</td>
            </tr>
            <tr class="total">
                <td></td>
                <td colspan="4">Discount (0%): $ 0</td>
            </tr>
            <tr class="total">
                <td></td>
                <td colspan="4" style="background: red;"><strong>Grand Total: ${{total}}</strong></td>
            </tr>
        </table>
        
    </div>
</body>
</html>
