{{include('content/navbar.html.twig')}}
{{include('content/slidebar.html.twig')}}
{% block title %}New Facture{% endblock %}

{% block body %}
<div class="pcoded-content">
    <div class="container mt-4">
        <h1>Facturer un projet</h1>

        {{ include('facture/_form.html.twig') }}

        <a href="{{ path('app_facture_index') }}" >back to list</a>
    </div>
</div>
{{include('content/data.html.twig')}}
{% endblock %}
