{{ include('content/navbar.html.twig') }}
{{ include('content/slidebar.html.twig') }}

{% block body %}
<div class="pcoded-content">
                
<div class="container mt-4">
    <h1>Domaine </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_domaine</th>
                <th>Type_domaine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td>{{ domaine.id }}</td>
                <td>{{ domaine.nomDomaine }}</td>
                <td>{{ domaine.typeDomaine }}</td>
                    <td>
                    <a href="{{ path('app_domaine_show', {'id': domaine.id}) }}"class="btn btn-primary btn-sm" title="View"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_domaine_edit', {'id': domaine.id}) }}"class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('app_domaine_delete', {'id': domaine.id}) }}"class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {{ include('content/data.html.twig') }}
{% endblock %}
